#hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  & .hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120%;
    height: 120%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  & .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 0;

    & h1 {
      font-family: oswald, sans-serif;
      position: absolute;
      top: 35%;
      left: 5%;
      transform: translateY(-35%);
      font-weight: 900;
      letter-spacing: -0.5rem;
      line-height: 10rem;
      font-size: 9.5rem;
      text-align: left;
    }

    & a {
      position: absolute;
      top: 70%;
      left: 5%;
      transform: translateY(-70%);
      text-align: left;
      display: flex;
      align-items: center;
      gap: 1rem;
      color: $primary-color;
      text-decoration: none;
      transition: color 0.3s ease;

      &:hover {
        color: $hover-color;
      }
    }
  }
}

#info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 18rem 8rem;
  gap: 10rem;
  scroll-margin-top: 20rem;

  & .iframe-info {
    width: 700px;
    height: calc(700px / 1.777);
  }

  .about {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 35%;

    & .about-01,
    .about-02 {
      display: flex;
      flex-direction: column;
      gap: 2.5rem;

      & h2 {
        font-family: Oswald, sans-serif;
        font-weight: bolder;
        line-height: 3rem;
        font-size: 2.9rem;
      }
    }
  }
}

#launch {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-inline: 8rem;
  margin-bottom: 18rem;

  & .content {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    & h1 {
      font-family: bokor, serif;
      letter-spacing: 3px;
      line-height: 8rem;
      font-size: 7rem;
      width: 700px;
    }

    & p:first-child {
      font-size: 2.5rem;
    }

    & p:last-child {
      font-size: 1.8rem;
    }

    & span {
      color: $info-color;
    }
  }

  & .iframe-launch {
    width: 1350px;
    height: (1350px / 1.777);
    margin-block: 4rem;
  }
}
