// 🎨 Primary Colors
$primary-color: #fff;
$second-color: #000;
$background-color: #101010;

// 📒 Auxiliary Colors
$hover-color: #858585;
$info-color: #df041a;

// 🔗 Spacings
$spacing-xs: 0.8rem;
$spacing-sm: 1.6rem;
$spacing-md: 2.4rem;
$spacing-lg: 3.2rem;
$spacing-xl: 4rem;
